@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  font-family: sans-serif;
  @apply bg-gray-100
}
* {
  outline: none;
}
.all-transition {
  transition: all 0.3s ease;
}
.gradient-card {
  @apply all-transition cursor-pointer bg-gradient-to-r from-white to-gray-100 rounded shadow md:shadow-none hover:shadow-lg md:hover:shadow-none
}
.tag {
  @apply m-2 py-1 px-2 rounded border flex items-center border-blue-400 bg-blue-100 text-blue-400
}

/* following are transitions */
.flip-list-move {
  transition: transform 0.5s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
